.light-theme {
  --text-color: rgb(59, 59, 59);
  --bg-color: #EEEEEE;
  --btn-txt-color: #fff;
  --brand-color: #214170;
  --box-color: #fff;
  --hover-color: rgb(230, 230, 230);
  --error-color: rgb(161, 51, 51);
  --box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.dark-theme {
  --text-color: #fff;
  --bg-color: #222;
  --brand-color: #214170;
  --hover-color: rgb(26, 26, 26);
  --box-color: #1a1a1a;
  --error-color: rgb(161, 51, 51);
}
