:root {
  --nav-width: 65px;
  --nav-width-mobile: 50px;
  --nav-width-open: 250px;
  --nav-width-mobile-open: 200px;
  --header-height: 70px;
  --box-shadow-light: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
