section {
  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    .project {
      width: 30%;
      aspect-ratio: 1/1;
      background-color: blue;
    }
  }
}
