nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: 0 1rem;
}

.logo {
  font-family: var(--ff-alt);
  color: var(--brand-color);
}

.nav-links {
  display: flex;
  list-style: none;

  .link {
    padding: 1rem;
    a {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.theme-switch {
  padding: 1rem;

  &:hover {
    cursor: pointer;
  }
}
