header {
  padding: 0 1rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .hamburger {
    display: none;
  }
  
}

.logo {
  font-family: var(--ff-alt);
  color: var(--brand-color);

  &:hover {
    cursor: pointer;
  }
  img {
    max-width: 175px;
  } 
}

.theme-switch {
  margin: 1rem;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  header {
    height: var(--header-height-mobile);
    .hamburger {
      display: block;
    }

    .links {
      display: none;
    }
    .logo {
      img {
          max-width: 135px;
        }
    }
  }
}
