header {
  padding: 0 1rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--ff-alt);
  color: var(--brand-color);

  &:hover {
    cursor: pointer;
  }
}

.theme-switch {
  margin: 1rem;

  &:hover {
    cursor: pointer;
  }
}
