<nav class="box">
  <div class="logo" (click)="navigateTo('landing')">
    <h1>Barry Fisher Carpentry</h1>
  </div>
  <ul class="nav-links">
    <li class="link" (click)="navigateTo('about')">About</li>
    <li class="link" (click)="navigateTo('projects')">Projects</li>
    <li class="link" (click)="navigateTo('services')">Services</li>
    <li class="link" (click)="navigateTo('testimonials')">Testimonials</li>
    <li class="link" (click)="navigateTo('contact')">Contact</li>
  </ul>
  <p class="btn theme-switch bold" (click)="switchTheme()">Switch Theme</p>
</nav>
