<section id="about">
  <div class="about-me">
    <div class="profile-img-container">
      <img
        src="./assets/images/profile.jpg"
        alt>
    </div>
    <h2 class="tag-line">All aspects of home improvements</h2>
    <div class="bio">
      <p>
        Hi, my name is Barry Fisher and I'm the director of Barry Fisher
        Carpentry.
      </p>
      <p>
        I am based in Wolverhampton, West Midlands and I am a qualified
        tradesman with over 35 years of experience in domestic carpentry and
        home improvements.
      </p>
      <p>
        After leaving school at 16, I went on a Youth Training Scheme with my
        dad for 3 years. Those 3 years turned into 35 years and we worked
        together as a family business before my dad retired in 2020 with a bad
        knee, being self-employed for 10 of those years.
      </p>
      <p>
        In this time I have obtained my level 3 and 4 NVQs. I work with a great
        team when required including electricians and plumbers who are all
        qualified, with all other work for carpentry, plastering, tiling and
        more being taken on by me.
      </p>
      <p>
        I have worked with some lovely customers over the years and have become
        good friends with many of them. As a result I have found that all my
        work is booked through word and mouth I have never had to advertise.
      </p>
      <p>
        Thank you for taking the time to read about me, I hope to hear from you
        and that we will be working together soon.
      </p>
      <p>Barry.</p>
    </div>
  </div>

  <div class="sample-images">
    <div class="img-container">
      <img
        src="../assets/images/kitchens/07.jpg"
        alt>
    </div>
    <div class="img-container">
      <img
        src="../assets/images/bathrooms/18.jpg"
        alt>
    </div>
  </div>
</section>
