<section id="about">
  <div class="flex">
    <div class="about-me flex-item">
      <div class="img-container">
        <img src="./assets/images/profile.jpg" alt="" />
      </div>
      <h2 class="tag-line">Over 35 Years of Experience</h2>
      <div class="bio box">
        <p>
          Hi, my name is Barry Fisher and I'm the director of Barry Fisher
          Carpentry.
        </p>
        <p>
          I am based in Wolverhampton, West Midlands, I'm a qualified tradesman
          with over 35 years of experience in domestic carpentry and home
          improvements. After leaving school at 16, I went on a YTS with my dad
          for 3 years then I carried on working with him for another 35 years
          where I got all my experience, which sadly he retired in 2020 with a
          bad knee. I have been self-employed for 10 years since 2010.
        </p>
        <p>
          I have 2 NVQ`s level 3 and 4. I have made a good relationship with
          customers and companies and all my work is word and mouth I never have
          to advertise. I have a great team that work with me, Electricians and
          plumbers who are all qualified.
        </p>
        <p>
          All the other work is taken on by me carpentry, plastering and tiling
          etc.
        </p>
        <p>
          I have worked with some lovely customers over the years and have
          become good friends. Thank you for taking the time to read about me,
          hopefully will be working together soon.
        </p>
      </div>
    </div>

    <div class="project-images flex-item">
      <div class="project-img-container">
        <img src="" alt="" />
      </div>
      <div class="project-img-container">
        <img src="" alt="" />
      </div>
      <div class="project-img-container">
        <img src="" alt="" />
      </div>
      <div class="project-img-container">
        <img src="" alt="" />
      </div>
    </div>
  </div>
  <div class="section-end">
    <div class="horizontal-line"></div>
    <div class="circle"></div>
    <div class="horizontal-line"></div>
  </div>
</section>
