<section id="contact">
  <div class="CTA">
    <h1>Do you have a project in mind?</h1>
    <p>
      I would love to hear more from you. Please fill in the contact form, or
      give me a call on the number below and I will get back to you as soon as
      possible.
    </p>
    <p>
      Please note, I can only undertake work within a 50 mile radius of
      Wolverhampton.
      <br>
      <br>
      Thank you.
    </p>
    <span>
      <i class="fa-icon fa-solid fa-at"></i>
      <a href="mailto:barryfishercarpentry@gmail.com">barry@barryfishercarpentry.co.uk</a>
    </span>
    <span>
      <i class="fa-icon fa-solid fa-phone"></i>
      <a href="tel:07725747328">07725747328</a>
    </span>
  </div>

  <form
    [formGroup]="contactFormGroup"
    (ngSubmit)="onSubmit()"
    name="contact"
    class="contact-form">
    <div>
      <label for="name">
        Name
        <span class="asterisk">*</span>
      </label>
      <input
        id="name"
        type="text"
        formControlName="name"
        required>
    </div>
    <div>
      <label for="telephone">
        Telephone
        <span class="asterisk">*</span>
      </label>
      <input
        id="telephone"
        type="tel"
        formControlName="telephone"
        required>
    </div>
    <div>
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email">
    </div>
    <div>
      <label for="postcode">
        Postcode
        <span class="asterisk">*</span>
      </label>
      <input
        id="postcode"
        type="text"
        formControlName="postcode"
        required>
    </div>
    <div>
      <label for="enquiryDetails">
        Enquiry Details
        <span class="asterisk">*</span>
      </label>
      <textarea
        id="enquiryDetails"
        formControlName="enquiryDetails">
      </textarea>
    </div>
    <span class="bold">
      Please note all fields marked
      <span class="asterisk">*</span>
      are required.
    </span>
    <button
      type="submit"
      class="btn">
      Submit
    </button>
  </form>
</section>
