<section id="projects">
  <div class="back-to">
    <h3 [routerLink]="['/projects']">Back To Projects</h3>
  </div>
  <h2 class="heading bold">{{ project?.title }}</h2>
  <div class="images-container">
    <ng-container *ngFor="let image of project?.images; index as i">
      <div
        class="single-image"
        (click)="openModal('carousel-modal', i)">
        <div class="image">
          <img [src]="image.src">
        </div>
      </div>
    </ng-container>
  </div>
  <div class="back-to-end">
    <h3 [routerLink]="['/projects']">Back To Projects</h3>
  </div>
  <div class="section-end">
    <div class="horizontal-line"></div>
    <div class="circle"></div>
    <div class="horizontal-line"></div>
  </div>
</section>

<modal id="carousel-modal">
  <app-carousel-dialog
    [currentSlide]="currentSlide"
    (closeModalEmitter)="closeModal($event)"
    [slides]="slides"></app-carousel-dialog>
</modal>
