section {
  .back-to {
    padding: 3rem 3rem 0 3rem;
    cursor: pointer;
    color: #214170;
    text-decoration: underline;
  }
  .heading {
    padding: 3rem 3rem 0 3rem;
  }

  .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem;

    .single-image {
      display: flex;
      flex-flow: column;
      width: 30%;

      .image {
          // this is so shit
          border-radius: 10px;
          aspect-ratio: 1/1;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
          background-repeat: no-repeat;
          overflow: hidden;
          transition: 0.5s;
          img {
            max-width: 178%;
            height: auto;
          }
          cursor: pointer;
        &:hover {
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.75);
        }
      }

      h3 {
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
  .back-to-end {
    padding: 3rem 3rem 3rem 3rem;
    cursor: pointer;
    color: #214170;
    text-decoration: underline;
    text-align: center;
  }
}


@media screen and (max-width: 1100px) {
  .images-container {
    flex-direction: column;

    .single-image {
      min-width: 100%;
    }
  }
}