<section id="services">
  <h2 class="heading bold">Services</h2>
  <div class="flex">
    <div class="CTA flex-item">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nobis
        itaque commodi earum delectus modi alias tempora est amet rem magni cum
        sed vero saepe dolor, maxime laboriosam iste, dolorum ad minima
        voluptate temporibus optio. Facere beatae expedita officiis, natus quis
        dolorum fuga nobis dolores blanditiis quasi, nemo veniam doloremque!
      </p>
    </div>
    <div class="accordions flex-item">
      <app-accordion>
        <h2 title>Title</h2>
        <p info>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
          molestiae distinctio similique autem, nostrum quis exercitationem?
          Architecto optio labore blanditiis, recusandae qui quae ipsum enim
          modi ipsam, adipisci necessitatibus quia ratione id quam quaerat non
          excepturi! Voluptates, molestias officiis illo, quis voluptatem rem
          beatae sint totam accusantium aliquid placeat in non consequuntur
          quaerat. Earum totam facilis ducimus ipsam iure dolorum minus sunt
          accusamus, facere, ea, laboriosam qui maxime numquam impedit
          recusandae repellendus incidunt libero rerum perspiciatis. Dolore
          impedit soluta perferendis? Deleniti facilis quasi aliquam, dolores,
          cupiditate optio quos dolorum sunt architecto maxime laboriosam cumque
          temporibus dolore labore quae perspiciatis non.
        </p>
      </app-accordion>
      <app-accordion>
        <h2 title>Title</h2>
        <p info>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
          molestiae distinctio similique autem, nostrum quis exercitationem?
          Architecto optio labore blanditiis, recusandae qui quae ipsum enim
          modi ipsam, adipisci necessitatibus quia ratione id quam quaerat non
          excepturi! Voluptates, molestias officiis illo, quis voluptatem rem
          beatae sint totam accusantium aliquid placeat in non consequuntur
          quaerat. Earum totam facilis ducimus ipsam iure dolorum minus sunt
          accusamus, facere, ea, laboriosam qui maxime numquam impedit
          recusandae repellendus incidunt libero rerum perspiciatis. Dolore
          impedit soluta perferendis? Deleniti facilis quasi aliquam, dolores,
          cupiditate optio quos dolorum sunt architecto maxime laboriosam cumque
          temporibus dolore labore quae perspiciatis non.
        </p>
      </app-accordion>
      <app-accordion>
        <h2 title>Title</h2>
        <p info>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
          molestiae distinctio similique autem, nostrum quis exercitationem?
          Architecto optio labore blanditiis, recusandae qui quae ipsum enim
          modi ipsam, adipisci necessitatibus quia ratione id quam quaerat non
          excepturi! Voluptates, molestias officiis illo, quis voluptatem rem
          beatae sint totam accusantium aliquid placeat in non consequuntur
          quaerat. Earum totam facilis ducimus ipsam iure dolorum minus sunt
          accusamus, facere, ea, laboriosam qui maxime numquam impedit
          recusandae repellendus incidunt libero rerum perspiciatis. Dolore
          impedit soluta perferendis? Deleniti facilis quasi aliquam, dolores,
          cupiditate optio quos dolorum sunt architecto maxime laboriosam cumque
          temporibus dolore labore quae perspiciatis non.
        </p>
      </app-accordion>
    </div>
  </div>
  <div class="section-end">
    <div class="horizontal-line"></div>
    <div class="circle"></div>
    <div class="horizontal-line"></div>
  </div>
</section>
