<section id="services">
  <h2 class="heading">Services</h2>
  <div class="flex">
    <div class="CTA flex-item">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nobis
        itaque commodi earum delectus modi alias tempora est amet rem magni cum
        sed vero saepe dolor, maxime laboriosam iste, dolorum ad minima
        voluptate temporibus optio. Facere beatae expedita officiis, natus quis
        dolorum fuga nobis dolores blanditiis quasi, nemo veniam doloremque!
      </p>
    </div>
    <div class="accordians flex-item">
      <h1>accordian-placeholder</h1>
    </div>
  </div>
  <div class="section-end">
    <div class="horizontal-line"></div>
    <div class="circle"></div>
    <div class="horizontal-line"></div>
  </div>
</section>
