<section id="testimonials">
  <h2 class="heading bold">Testimonials</h2>
  <div class="testimonials-container">
    <app-testimonial [imgSrc]="'./assets/images/profile.jpg'">
      <span name>Ash Chambers</span>
      <p testimony>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vero
        inventore deserunt qui, aliquid, ullam cumque modi eos quo, minima aut
        fugiat natus. Voluptas odit quae impedit vel similique officiis
        reiciendis nesciunt omnis ut debitis culpa nisi ipsa ipsum velit libero
        praesentium ducimus, ad amet repudiandae animi illum voluptatum sed
        dolorum! Rem aut dolorem nemo esse sequi, distinctio consequatur
        voluptatibus, maiores vitae minima blanditiis, nihil placeat quae.
      </p>
    </app-testimonial>

    <app-testimonial [imgSrc]="'./assets/images/profile.jpg'">
      <span name>Brad Fisher</span>
      <p testimony>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vero
        inventore deserunt qui, aliquid, ullam cumque modi eos quo, minima aut
        fugiat natus. Voluptas odit quae impedit vel similique officiis
        reiciendis nesciunt omnis ut debitis culpa nisi ipsa ipsum velit libero
        praesentium ducimus, ad amet repudiandae animi illum voluptatum sed
        dolorum! Rem aut dolorem nemo esse sequi, distinctio consequatur
        voluptatibus, maiores vitae minima blanditiis, nihil placeat quae.
      </p>
    </app-testimonial>

    <app-testimonial [imgSrc]="'./assets/images/profile.jpg'">
      <span name>Kate Fisher</span>
      <p testimony>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vero
        inventore deserunt qui, aliquid, ullam cumque modi eos quo, minima aut
        fugiat natus. Voluptas odit quae impedit vel similique officiis
        reiciendis nesciunt omnis ut debitis culpa nisi ipsa ipsum velit libero
        praesentium ducimus, ad amet repudiandae animi illum voluptatum sed
        dolorum! Rem aut dolorem nemo esse sequi, distinctio consequatur
        voluptatibus, maiores vitae minima blanditiis, nihil placeat quae.
      </p>
    </app-testimonial>
  </div>
  <div class="section-end">
    <div class="horizontal-line"></div>
    <div class="circle"></div>
    <div class="horizontal-line"></div>
  </div>
</section>
