.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/2;
  max-width:500px;
  border-radius: 9px;

  .icon {
    margin-top: 2rem;
    color: var(--brand-color);
    font-size: var(--fs-xlarge);
  }

  .testimony-container {
    padding: 2rem;
  }
}
