.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  min-height: 400px;
  margin-inline: auto;
  border-radius: 9px;

  .icon {
    color: var(--brand-color);
    font-size: var(--fs-xlarge);
  }

  .testimony-container {
    text-align: justify;
    font-style: italic;
    padding: 2rem;
  }
}
