<section id="testimonials">
  <h2 class="heading bold">What my clients say about me.</h2>
  <div class="testimonials-container">
    <app-testimonial
      ><p testimony>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officia
        quam corporis labore illum soluta reiciendis explicabo voluptatibus
        libero, enim, molestias, quod autem nostrum corrupti totam ducimus quia?
        Provident libero dicta nulla fugit eveniet consequuntur quo velit dolor.
        Ex quae sed, dolore vero rerum eveniet quam magnam fuga vitae debitis."
      </p></app-testimonial
    >
    <app-testimonial
      ><p testimony>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officia
        quam corporis labore illum soluta reiciendis explicabo voluptatibus
        libero, enim, molestias, quod autem nostrum corrupti totam ducimus quia?
        Provident libero dicta nulla fugit eveniet consequuntur quo velit dolor.
        Ex quae sed, dolore vero rerum eveniet quam magnam fuga vitae debitis."
      </p></app-testimonial
    >
    <app-testimonial
      ><p testimony>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officia
        quam corporis labore illum soluta reiciendis explicabo voluptatibus
        libero, enim, molestias, quod autem nostrum corrupti totam ducimus quia?
        Provident libero dicta nulla fugit eveniet consequuntur quo velit dolor.
        Ex quae sed, dolore vero rerum eveniet quam magnam fuga vitae debitis."
      </p></app-testimonial
    >
    <app-testimonial
      ><p testimony>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officia
        quam corporis labore illum soluta reiciendis explicabo voluptatibus
        libero, enim, molestias, quod autem nostrum corrupti totam ducimus quia?
        Provident libero dicta nulla fugit eveniet consequuntur quo velit dolor.
        Ex quae sed, dolore vero rerum eveniet quam magnam fuga vitae debitis."
      </p></app-testimonial
    >
    <app-testimonial
      ><p testimony>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officia
        quam corporis labore illum soluta reiciendis explicabo voluptatibus
        libero, enim, molestias, quod autem nostrum corrupti totam ducimus quia?
        Provident libero dicta nulla fugit eveniet consequuntur quo velit dolor.
        Ex quae sed, dolore vero rerum eveniet quam magnam fuga vitae debitis."
      </p></app-testimonial
    >
    <app-testimonial
      ><p testimony>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officia
        quam corporis labore illum soluta reiciendis explicabo voluptatibus
        libero, enim, molestias, quod autem nostrum corrupti totam ducimus quia?
        Provident libero dicta nulla fugit eveniet consequuntur quo velit dolor.
        Ex quae sed, dolore vero rerum eveniet quam magnam fuga vitae debitis."
      </p></app-testimonial
    >
    <app-testimonial
      ><p testimony>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officia
        quam corporis labore illum soluta reiciendis explicabo voluptatibus
        libero, enim, molestias, quod autem nostrum corrupti totam ducimus quia?
        Provident libero dicta nulla fugit eveniet consequuntur quo velit dolor.
        Ex quae sed, dolore vero rerum eveniet quam magnam fuga vitae debitis."
      </p></app-testimonial
    >
    <app-testimonial
      ><p testimony>
        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit officia
        quam corporis labore illum soluta reiciendis explicabo voluptatibus
        libero, enim, molestias, quod autem nostrum corrupti totam ducimus quia?
        Provident libero dicta nulla fugit eveniet consequuntur quo velit dolor.
        Ex quae sed, dolore vero rerum eveniet quam magnam fuga vitae debitis."
      </p></app-testimonial
    >
  </div>
  <div class="CTA">
    <span class="CTA-heading bold">Would you like to find out more?</span>
    <button type="button" class="btn" [routerLink]="['/contact']">
      Contact
    </button>
  </div>
</section>
