<section id="testimonials">
  <h2 class="heading bold">What my clients say about me.</h2>
  <div class="testimonials-container">
    <app-testimonial>
      <p testimony>
        I highly recommend Barry and his company. We have used them for several
        years and have always been really pleased with the standard of work
        produced, and the commitment and care given to the job. Nothing is too
        much trouble. They will suggest a range of options to suit every design
        and budget and will suggest alternatives that you may not have thought
        of in order to maximise available space and suit your requirements.
        <br>
        <br>
        The layout of our new bathroom now makes it a much more usable space,
        and the new kitchen is much lighter and with additional workspace.
        <br>
        <br>
        Barry is always extremely obliging, professional and cheerful.
        Everything is completed to an excellent standard and is left neat and
        tidy at the end of each day during construction.
        <br>
        <br>
        Thank you for transforming our rooms.
      </p>
    </app-testimonial>
    <app-testimonial>
      <p testimony>
        I have used Barry Fisher for several home projects and is my "go to"
        man. He has fitted a kitchen and two bathrooms. He has also built an
        outbuilding from the ground up. He has been incredibly conscientious
        throughout his time in my home. He is clearly a master of his craft.
        He’s also been a true gentleman, very polite and professional. A
        perfectionist.
        <br>
        <br>
        He attended on time and ensured that he protected my other furnishings,
        as well as making sure that he left the rooms clear of any obstructions
        and clean at the end of the day. I’m extremely happy with the final
        product. I would have no hesitation in recommending him.
      </p>
    </app-testimonial>
    <app-testimonial>
      <p testimony>
        I have used Barry Fisher for my building work many times over the last
        15 years. He is conscientious, honest and takes immense pride in his
        work. He is also very skilled, experienced and above all a pleasure to
        deal with.
        <br>
        <br>
        I have no hesitation in recommending him.
      </p>
    </app-testimonial>
    <app-testimonial>
      <p testimony>
        Barry and his team were personally recommended to us, and we were
        completely satisfied with the high quality of the work undertaken. The
        team have done several pieces of work for us in the last few years,
        including a total redesign of our top floor creating a new bathroom, and
        installing a load baring floor with engineered joists into our new loft
        space.
        <br>
        <br>
        Each project was completed in a professional and timely manner, the
        whole project was managed by the team, and relevant tradesmen were
        co-ordinated by Barry. The kept us fully informed of all ongoing work
        and were easily contacted by phone or email if we needed to discuss
        anything. We would highly commend, this skilled, hard working team.
        <br>
        <br>
        The quality of their work is outstanding and it was a pleasure to have
        them around.
      </p>
    </app-testimonial>
    <app-testimonial>
      <p testimony>
        Barry has done a number of jobs for us over many years, (tiling,
        bathroom fitting and carpentry).
        <br>
        <br>
        He is extremely reliable, offers great advice, goes the extra mile, is
        trustworthy, tidy, respectful and a perfectionist which results in a
        fabulous finish.
        <br>
        <br>
        I would thoroughly recommend him… you won’t be disappointed.
      </p>
    </app-testimonial>
    <app-testimonial>
      <p testimony>
        We were looking for a builder to complete work on our house and found it
        increasingly difficult to find anyone. We needed someone reliable and
        someone we could trust.
        <br>
        <br>
        Barry was recommended to us by a friend and we weren't disappointed.
        From start to finish Barry was very professional in all aspects of the
        work carried out. From offering advise, sourcing materials, working
        around our schedule to the overall quality of the completed work we were
        more than impressed.
        <br>
        <br>
        We will definitely ask Barry to quote for us again and would highly
        recommend him to others.
      </p>
    </app-testimonial>
    <app-testimonial>
      <p testimony>
        Contacted Barry to build an extension and he pulled it all together and
        did an amazing job. Previous project that I did the builders did a
        shoddy job and it cost me in the long run.
        <br>
        <br>
        Can’t say he’s restored my faith in builders …….but I if there’s ever a
        person worth waiting for it sure is him. I’ve recommended him to
        countless family and friends but not all have the patients to wait for a
        trust worthy, straight talking, good hearted man.
        <br>
        <br>
        I’ve already got another project lined up just ensuring I have the
        funds…don’t like messing people around. I’m just over the moon that I’ve
        found someone I can trust.
      </p>
    </app-testimonial>
    <app-testimonial>
      <p testimony>
        My wife and I have been utilising Barry's skills over many years whether
        it be a new kitchen, bathroom of fitted wardrobes etc and we have been
        more than satisfied with the quality of his work.
        <br>
        <br>
        He is very reliable, hardworking, honest and trustworthy and we have no
        problem with recommending him.
      </p>
    </app-testimonial>
    <app-testimonial>
      <p testimony>
        Barry is totally reliable, always punctual. He is
        a very tidy worker and sets himself high standards in everything he does.
        <br>
        <br>
        He does not presume, but involves the client in decisions. He is very versatile and his plastering, tiling and general workmanship are excellent.
      </p>
    </app-testimonial>
  </div>
  <div class="CTA">
    <span class="CTA-heading bold">Would you like to find out more?</span>
    <button
      type="button"
      class="btn"
      [routerLink]="['/contact']">
      Contact
    </button>
  </div>
</section>
