.hamburger {
  display: flex;
  flex-direction: column;
  z-index: 4;
  transition: transform 0.25s ease-in-out;
  position: relative;
}

.hamburger:hover {
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: var(--text-color);
  transition: transform 0.25s ease-in-out, width 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
}

.drawer {
  width: 0;
  height: 100%;
  background-color: var(--box-color);
  position: absolute;
  top: 0;
  left: 0;

  transition: width 0.25s ease-in-out;
  z-index: 3;
}

.drawer.open {
  width: 45%;
}

.drawer-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  &.visible {
    opacity: 100%;
  }
}

.dimmer {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 25%;
  transition: opacity 0.25s ease-in-out;
  z-index: 2;

  &.open {
    display: block;
  }
}
