<div class="hamburger" id="hamburger" (click)="this.toggleDraw()">
  <div class="line1"></div>
  <div class="line2"></div>
  <div class="line3"></div>
</div>

<div class="drawer" id="drawer">
  <div class="drawer-content">
    <nav class="drawer-nav">
      <ul class="nav-links">
        <a href="./index.html" class="nav-link"><li>Portfolio</li></a>
        <a href="./info.html" class="nav-link"><li>Info</li></a>
      </ul>
    </nav>
    <section id="document-downloads">
      <a class="download-link" href="./assets/documents/CV.docx" download
        >Download CV</a
      >
    </section>
    <div class="social-container">
      <a
        href="mailto:hello@ashchambers.co.uk?subject=Portfolio Enquiry"
        class="social-link"
        ><i class="fa-solid fa-envelope"></i
      ></a>
      <a
        href="https://twitter.com/ReaperAC_"
        target="_blank"
        class="social-link"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/ashleyhjc/"
        target="_blank"
        class="social-link"
      >
        <i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
  </div>
</div>
