.hamburger {
  display: flex;
  flex-direction: column;
  z-index: 4;
  transition: transform 0.25s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover .line2 {
  width: 15px;
}

.line1,
.line2,
.line3 {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: var(--text-color);
  transition: transform 0.25s ease-in-out, width 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
}

.line1 {
  transform-origin: right;
}

.line3 {
  transform-origin: right;
}

.hamburger.open .line2 {
  opacity: 0;
}

.hamburger.open .line1 {
  transform: rotate(45deg) translate(19px, 5px);
}

.hamburger.open .line3 {
  transform: rotate(-45deg) translate(20px, -6px);
}

.hamburger.open {
  transform: rotate(180deg) translateX(-20px);
}

.drawer {
  width: 100vw;
  height: 100vh;
  background-color: rgb(27, 27, 27);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.25s ease-in-out;
  z-index: 3;
}

.drawer.open {
  transform: translateY(0%);
}

.drawer-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drawer a.social-link {
  font-size: 2rem;
  text-decoration: none;
}
