<section id="projects">
  <h2 class="heading bold">Projects</h2>
  <div class="projects-container">
    <ng-container *ngFor="let project of projects">
      <div class="single-project">
        <div
          class="project"
          (click)="navigateToProject(project)">
          <img [src]="project.keyImage.src">
        </div>
        <h3>{{ project.title }}</h3>
      </div>
    </ng-container>
  </div>
  <div class="section-end">
    <div class="horizontal-line"></div>
    <div class="circle"></div>
    <div class="horizontal-line"></div>
  </div>
</section>
