<div class="home-container">
  <div class="carousel-container">
    <app-carousel></app-carousel>
  </div>
  <h2 class="pageTitle">What I can do for you</h2>
  <div class="services-container">
    <app-card
      *ngFor="let service of services$ | async"
      [service]="service"></app-card>
  </div>
    <div class="CTA">
    <span class="CTA-heading bold">Would you like to find out more?</span>
    <button type="button" class="btn" [routerLink]="['/contact']">
      Contact
    </button>
  </div>
</div>
