@use "/src/assets/scss/variables" as v;
@use "/src/assets/scss/fonts" as f;
@use "/src/assets/scss/mixins" as m;
@use "/src/assets/scss/themes" as t;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @include m.font-size(f.$base-font-sizes);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--ff-default);
  transition: all 0.35s ease;
}

.heading {
  text-align: center;
  padding: 1rem;
}

.box {
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  transition: all 0.2s ease;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 9px;
  outline: none;
  border: none;
  background: var(--brand-color);
  color: var(--btn-txt-color);
  font-size: var(--fs-default);
  cursor: pointer;
  transition: all 0.35s ease;

  &:hover {
    opacity: 0.75;
  }
}

.inline-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}

.inline-scroller::-webkit-scrollbar {
  display: none;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 2rem;
}

.snaps-inline > * {
  scroll-snap-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--brand-color);
}

.no-scroll {
  overflow: hidden;
}
