<nav>
  <ul class="nav-links {{ this.Orientation }}" #links>
    <li class="link bold">
      <a
        [routerLink]="['/home']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="link bold">
      <a
        [routerLink]="['/projects']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Projects</a
      >
    </li>
    <li class="link bold">
      <a
        [routerLink]="['/about']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >About</a
      >
    </li>
    <li class="link bold">
      <a
        [routerLink]="['/testimonials']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Testimonials</a
      >
    </li>
    <li class="link bold">
      <a
        [routerLink]="['/contact']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Contact</a
      >
    </li>
  </ul>
</nav>
